<body id="home_page">
	<div id="home_header" class="container">
		<h2>Julia,</h2>
		<p>
			I thought for your 50th birthday, I would do something a little out of the ordinary.
			I wanted to go above and beyond what I usually do because clearly for this birthday a regular letter wasn't going to cut it. With that in mind, I decided to put some of my
			new skills to the test. I hope that adequately convey how much I appreciate and love you
			throughout this site. So, with all of this being said, explore on. Your site awaits.
		</p>
		<h3>
			Seve
		</h3>
	</div>
	<div id="home_body" class="container">
		<div class="span3">
			<h4>The Mother</h4>
			<a href="/mother">
				<%= image_tag("Mom-alone.jpg") %>
			</a>
		</div>
		<div class="span3">
			<h4>The Son</h4>
			<a href="/son">
				<%= image_tag("seve-mit-football.jpg") %>
			</a>
		</div>
		<div class="span3">
			<h4>Their Relationship</h4>
			<a href="/relationship">
				<%= image_tag("MIT-Football-Tog.jpg") %>
			</a>
		</div>
	</div>

</body>
