<!DOCTYPE html>
<html>
	<head>
		<title>HAPPY 50th BIRTHDAY!</title>
		<%= stylesheet_link_tag    "application", media: "all",
	                                            "data-turbolinks-track" => true %>
	  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>
	</head>
	<body id="Landing_Page">
		<div class ="row" id="Landing_Header">
			<a style="text-decoration:none" href="/home">
				MOM
			</a>
		</div>
		<div class="row" id="Landing_Message">
			<a style="text-decoration:none" href="/home">
				HAPPY <b>50</b>th BIRTHDAY!
			</a>
		</div>
	</body>
</html>
