<body id="Motherload">
	<h1>The Mother</h1>
	<div class="container">
		<div class="row">
			<p>
				Julia Wurm Esparrago was born on July 10, 1963. She was one of eight children (which she never fails to remind her family). She often tells tales of her childhood where she would challenge anyone to a race - in eighth grade, she was the fastest in her class. After graduating from Saint Joe's high school in Saint Louis and a small detour to New York City, she matriculated at the University of Missouri, where she would be paired by means of a coin toss with her future husband: Peter Esparrago. After Mizzou, she was wed and began her career as an interior designer. Little did she know that in seven or so years, her life would change forever. <br/><br/>

				At the age of 30, she bore her first son, Seve. A few years later, she retired from her job. Most likely, she wanted to spend all of her time with her favorite son, Seve, although she did have another <i>salbahe</i> on the way. Motherhood presented new opportunities and challenges, and after 20 years, some (mainly her kids) say that she is the <b>best</b> at what she does. Oh, and don't forget about the <i>eight</i> marathons that she dominated.<br/><br/>

				With Peter hard at work, Julie was tasked with the daily responsibilities of parenting. In order to do so, she sacrificed almost everything. She never looked for any credit; she just wanted the best for her two sons. She would do whatever it took to ensure that her children were well rounded, and although her first born is still a little rough around the edges, she did a damn good job. Now looking back on her 20 years of motherhood, she adamantly declares that is was worth the struggle. <br/><br/>

				Now, in retrospect, her children can value one of the most important figures in their lives: their mother. Her will, that German stuborness that matches the Filipino flare in intensity, can be easily observed in both of her kids. Her desire for balance in her children seemed to be her fuel, giving her the ability to do whatever necessary to accomplish her goal. She often told Seve and Cole, her second son, that they didn't know how good they had it. And she was right: as much as they may appreciate what she has done for them, as well as they may understand what their lives could have been like, they will never truly realize everything that she has done for them.
				<br/><br/>

				Now with one son off at college and the other going into his junior year of high school, she is preparing for the next chapter of her life. Whether that is trying to be an Iron Man (like she said during her marathon days) or rekindling her career as an interior designer, her children and husband recognize that she will be able to do whatever she puts her mind to. And as she begins her next pursuit, she knows that she has the support of her children. She has set the standards high and endured many hard years of motherhood, but because of this, she can confidently say that she has succeeded. She has been the best mother that she could be, and her children will forever love her for that.  
			</p>
		</div>
	</div>
</body>
