<body id="Relationship">
	<h1>Their Relationship</h1>
	<div class="container">
		<div class="row">
			<p>
				There's a saying that sons usually marry someone who is very similar to their mothers.
				At first, this seems like a very odd statement - most people do not harbor this "Oedipus Complex." But, as many begin to realize, the qualities that they look for in a women become more and more like those of their mothers. This may seem puzzling on the surface, but much can be learned if you dive into the relationship between Julie and Seve Esparrago, mater filioque.<br/><br/>

				Although Seve often makes life hard for his mother, he has always tried to stay out of trouble. He's jumped through a lot of hoops for his parents, always attempting to impress them and make them proud. But every once in a while, Seve will try to do something very out of the ordinary. For example, he has just recently begun his pursuit of the French language. And whatever crazy idea he decides to chase next, Julie almost always throws her support behind him. Her goal was simple: give her son the best opportunities and see to it that he lives a very balanced life.<br/><br/>

				Julie has always been there for Seve. While he was a young grade schooler, she allowed him to stay after school, play in CPOP's gym with his friends, Matt McAleenan and Jeff Behm, and then go McDonalds almost every day of the week (Seve enjoyed blaming his high blood pressure on his mother). During high school, Seve went to his mother with many of his relationship issues (much to his surprise, Julie actually knew a thing or two about how girls worked); she came to his aid during his relationships with Audrey Ebel and Chelsea Scism. Julie is always looking to help, whether that means socializing with Seve's friends until three in the morning or driving him to all of his sports practices. She is the rock that Seve can always lean on.<br/><br/>

				In times of trouble, they can each look to each other for help. Although Seve can sometimes be a stubborn brat and Julie can sometimes be a strict parent, their relationship is something that, as Diane Esparrago often says, someone could write a book about. No, they're not perfect, but they're one hell of a duo. It's a match made in Heaven, and Seve thanks the Lord every day for his mother and all that she has done for him. According to Seve, their experience together can be summed up by a Mark Twain quote: "My mother had a great deal of trouble with me, but I think she enjoyed it."
			</p>
		</div>
	</div>
</body>
