<body id="Son">
	<h1>The Son</h1>
	<div class="container">
		<div class="row">
			<p>
				Seve Antonio Esparrago was born October 3, 1993. The first of two sons, he clearly is the favorite. Many of his mother's genes displayed themselves immediately: Seve, from an early age, has been taller, more athletic, and above all, more beautiful than his younger brother Cole. But all facts aside, Seve has been a very strange child since conception. In the womb, initial tests anticipated disabilities, and immediately after birth, he experienced heart aneurysms that made it appear as if he only had a few days to live. Even through all of these apparent health issues, Seve survived, much to his mother's delight.  <br/><br/>

				As Seve grew older, he continued to dance with danger. The most notable of these experiences was as a kindergartener, when he obliviously sprinted into the middle of the street and was subsequently hit by a car. Seve has always been a special kid, and his mother realized this very quickly. It was especially evident when he begged to have his friend, Michelle Rabe, over in kindergarten and again in fifth grade, when his mother asked Molly Croghan on a date for him (for the sake of numbers, Julie is one for two in asking girls out for Seve). Over the years, Julie did so much for Seve.She wanted him to be well-rounded and she was willing to go to the ends of the earth to make that happen. Julie would go out of her way to ensure that Seve had the best opportunities: from giving him a Catholic education to nurturing his budding relationships to allowing him to pursue his eccentric French passions, she has, and always will preach balance. <br/><br/>

				Now, after 20 long years, her son has the chance to look back and see how much his mother has rubbed off on him. Seve is very strong-willed, like his mother. He has always been a stubborn boy. Similar to his mother, he is an extroverted introvert - he is very social around those he is comfortable with but naturally shy around most others. Just by looking at his physique, many can see his mother: in his feet, in his hands, especially in his teeth. Almost two decades of Julie's effort and sacrifice are visible in her first-born son. He is forever grateful for everything that she has done for him (more than she can even imagine), and he attributes much of his success to his mother, Julie.
			</p>
		</div>
	</div>
</body>
